<h1>Legal Notice</h1>
<div>
    Welcome to Peltan Zsolt's personal portfolio website!
    <br>Please read this legal notice carefully before using this
    website.<br>
    By accessing and using this website, you acknowledge and agree to be bound by the terms and conditions outlined
    below.<br>
    If you do not agree with these terms, please refrain from using this website.

    <h2>Personal Portfolio:</h2>
    This website serves as a personal portfolio showcasing Peltan Zsolt's work and professional achievements in field of
    photography and web development.

    <h2>Intellectual Property:</h2>
    All content, including text, images on this website is copyrighted by Peltan Zsolt unless otherwise stated.<br>
    Unauthorized
    use, reproduction, or distribution of any materials from this website is strictly prohibited
    without prior written permission.

    <h2>Collection of IP Address:</h2>
    For statistical purposes, this website may collect and store your IP address when you access and browse its
    pages.<br>
    This
    information is used solely to analyze website traffic and improve its performance. Your IP address will not be
    linked to
    any personally identifiable information.

    <h2>Cookies:</h2>
    This website does not use cookies or any other tracking technologies.

    <h2>External Links:</h2>
    This website may contain links to external websites, such as LinkedIn and GitHub. Please note that we are not
    responsible for the content, privacy practices, or reliability of these third-party websites. You are encouraged to
    review their respective privacy policies and terms of use.
    <h2>No Warranty:</h2>
    This website is provided "as is" without any warranties, express or implied. Peltan Zsolt does not warrant the
    accuracy,
    reliability, or availability of the content on this website. The use of any information on this website is at your
    own
    risk.
    <h2>Applicable Law and Jurisdiction:</h2>
    This website is governed by the laws of Hungary. Any legal disputes arising from the use of this website shall be
    subject to the exclusive jurisdiction of the courts of Hungary.
    <br><br>
    <hr><br>
    Please note that this legal notice may be updated from time to time. It is your responsibility to review this page
    periodically for any changes.<br>
    If you have any questions or concerns regarding this legal notice or the use of this website, please contact me at
    peltan.zsolt@yahoo.com.<br>
    Thank you for visiting PZsPhoto website.
</div>
