$error-color: #97001c;
$color-menu-text: #444444;

.logoutdialog-wrapper {
    text-align: center;
    h1 {
        margin: auto;
        color: white;
        background-color: $error-color;
    }
    div {
        align-content: center;
        button {
            margin: auto;
            color: white;
            background-color: $color-menu-text;
        }
        #logout {
            background-color: $error-color;
        }
    }
}
