$color-lightgrey: #d4d4d4;
$color-menu-text: #444444;
$formWidth: 600px;
$formHeight: 580px;

h1 {
    text-align: center;
    color: $color-menu-text;
}
form {
    margin: 1rem;
    background-color: #d4d4d4;
    mat-form-field,
    label {
        font-size: 1rem;
        color: $color-menu-text;
        display: block;
        margin: 1rem auto auto auto;
    }
    button {
        font-size: 1rem;
        margin: auto;
    }
}
