<div class="file-upload">
    <h1 mat-dialog-title> {{'Signup.SignUp' | translate}}</h1>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <mat-label> {{'Signup.Username' | translate}} </mat-label>
            <input matInput maxlength="50" inputmode="full-width-latin"
                [placeholder]="'Signup.UsernameOrEmail' | translate" formControlName="username">
            <mat-error>{{'Signup.RequiredField' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Signup.Password' | translate}}:</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput maxlenght="30" minlength="3"
                [placeholder]="'Signup.InputStrongPwd' | translate" formControlName="password"
                [matAutocomplete]="autoPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-autocomplete #autoPassword="matAutocomplete">
                <mat-option [value]="generatedPassword" (click)="onClickGeneratedPassword($event)">
                    {{generatedPassword}}
                </mat-option>
                <mat-option [value]="password">{{password}}</mat-option>
            </mat-autocomplete>
            <mat-error>{{'Signup.PwdStrenghtError' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Signup.ConfirmPassword' | translate}}:</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput maxlenght="30"
                [placeholder]="'Signup.TypePwdAgain' | translate" formControlName="passwordVerify">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error> {{'Signup.PwdDifferentError' | translate}} </mat-error>
        </mat-form-field>

        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"
                (click)="onSignUp()">{{'Signup.Submit' | translate}}</button>
        </div>
    </form>
</div>
