<div class="file-upload">
    <h1 mat-dialog-title>SIGN-UP</h1>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>User name</mat-label>
            <input matInput maxlength="50" inputmode="full-width-latin" placeholder="User name or email address"
                formControlName="username">
            <mat-error>Username is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password:</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput maxlenght="30" minlength="3"
                placeholder="Input a strong password" formControlName="password" [matAutocomplete]="autoPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-autocomplete #autoPassword="matAutocomplete">
                <mat-option [value]="generatedPassword" (click)="onClickGeneratedPassword($event)">
                    {{generatedPassword}}
                </mat-option>
                <mat-option [value]="password">{{password}}</mat-option>
            </mat-autocomplete>
            <mat-error>Password must include lowrcase letter, uppercase letter, number. At least 3 characters. No
                special characters allowed.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm password:</mat-label>
            <input type="password" matInput maxlenght="30" minlength="3" placeholder="Type password again"
                formControlName="passwordVerify">
            <mat-error>The two passwords must be identic.</mat-error>
        </mat-form-field>

        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"
                (click)="onSignUp()">Submit</button>
        </div>
    </form>
</div>
