<main>
    <p>IV. Budapest,</p>
    <p>Újpest</p>
    <p>
        <a href="https://www.linkedin.com/in/pelt%C3%A1n-zsolt-6040b4252/" target="_blank">
            <img src="../../../assets/logo/LinkedIn_Logo_2013.svg" />
        </a>
    </p>
    <p>
        <a href="https://github.com/PeltanZsolt" target="_blank">
            Github: <img src="../../../assets/logo/github-mark.svg" />
        </a>
    </p>
    <p>
        E-mail:
        <a href="mailto: pelikanlevel@yahoo.com" target="_blank">
            pelikanlevel@yahoo.com</a>
    </p>
    <!-- <p>
        <a href="https://pzsphoto-angular.firebaseapp.com" target="_blank">Portfolio
        </a>
    </p> -->
</main>
