$color-backgroundgrey: rgb(230, 230, 230);
$color-lightgrey: #d4d4d4;
$color-menu-hover: #a7a7a7;
$color-menu-text: #444444;

.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 1.5rem 1rem;
    margin: 0 auto;
    padding: 1rem;
    place-items: center;
    padding-bottom: 6rem;
    li {
        list-style: none;
        background-color: white;
        border-radius: 5px;
        width: 100%;
        p {
            margin: 0.2rem 1rem;
            padding: 0;
            height: 1rem;
            color: $color-menu-text;
        }
        .img-attributes {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
            }
            .left-column {
                margin-top: 0.3rem;
                p {
                    text-align: left;
                }
            }
            .right-column {
                margin-top: 0.3rem;
                p {
                    text-align: right;
                }
                app-rating {
                    margin: 0.2rem 1rem;
                    padding: 0;
                    height: 1rem;
                    width: 7rem;
                    text-align: right;
                }
            }
        }
    }
}

@media (max-width: 130rem) {
    .gallery-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 102rem) {
    .gallery-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 68rem) {
    .gallery-list {
        grid-template-columns: 1fr;
    }
}

// .panorama-list {
//   margin: 0 auto;
//   padding: 1rem;
// }

// .panorama-list img {
//   border-radius: 5px;
//   width: 100%;
//   object-fit: cover;
// }

// .panorama-list li {
//   list-style: none;
//   background-color: white;
//   border-radius: 5px;
//   margin: 1rem 0;
// }

// .panorama-list p {
//   margin: 0.2rem 1rem;
//   padding: 0;
// }

// .img-attributes button {
//   height: 1.5rem;
//   border-color: white;
//   margin: 0.4rem 1rem;
//   width: 7;
// }

// .comments {
//   margin: 0;
//   padding: 0 0 0.5rem 0;
//   background-color: rgb(238, 238, 238);
//   width: 100%;
//   /* display: none; */
// }

// .comment-form div {
//   margin: 0 auto 0 1rem;
// }

// .comment-form textarea {
//   margin: 0.5rem auto 0.5rem auto;
//   width: 95%;
//   display: block;
//   border-radius: 4px;
//   box-sizing: border-box;
//   resize: none;
// }

// .comments form div button {
//   align-items: right;
// }

// .comments input {
//   /* height: 30rem; */
//   width: 100%;
//   max-width: 33rem;
// }

// .comments button {
//   height: 1.5rem;
//   border-color: white;
//   margin: 0.5rem auto 0 1rem;
//   width: 9rem;
// }

// footer {
//   background-color: rgb(112, 112, 112);
//   padding-bottom: 2rem;
// }

// footer a {
//   display: block;
//   width: fit-content;
//   background-color: rgb(165, 165, 165);
//   padding: 0.5rem;
//   text-decoration: none;
//   position: relative;
//   top: 1rem;
//   margin: auto;
//   color: white;
//   border-radius: 6px;
// }

// footer a:hover {
//   background-color: rgb(134, 134, 134);
// }
