$color-menu-text: #444444;
$color-lightgrey: #d4d4d4;

.dialog-wrapper {
    text-align: center;
    width: 16rem;
    h1 {
        margin: auto;
        color: $color-menu-text;
        background-color: $color-lightgrey;
    }
    div {
        button {
            margin: auto;
            color: $color-menu-text;
            background-color: inherit;
            margin: 1rem auto 1rem auto;
        }
    }
}

