
<header>
    <mat-toolbar id="header-bar">
        <div id="pzsphoto-logo">
            <img src="../assets/logo/pzs photo logo.svg" alt="PZS Photo logo" height="60" routerLink="/" />
        </div>
        <p id="welcome" *ngIf="(userState$ | async)?.username">
            {{'Menu.Welcome' | translate}}, {{(userState$ | async)!.username}}!
        </p>
        <div id="full-menu">
            <ng-container *ngFor="let item of menuItems">
                <div class="menu-item" *ngIf="item.cond$ | async">
                    <button mat-button (click)="handleMenuItemClick(item.action, item.route)">{{'Menu.' + item.name | translate}}</button>
                </div>
            </ng-container>
        </div>
        <div id="mobile-menu">
            <button mat-icon-button [matMenuTriggerFor]="mobilemenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #mobilemenu="matMenu">
                <ng-container *ngFor="let item of menuItems">
                    <button *ngIf="item.cond$ | async" mat-menu-item
                        (click)="handleMenuItemClick(item.action, item.route)">{{'Menu.' +  item.name | translate}}</button>
                </ng-container>
            </mat-menu>
        </div>
        <div id="languages">
            <button mat-icon-button [matMenuTriggerFor]="languagesMenu">
                <mat-icon>language</mat-icon>
            </button>
            <mat-menu #languagesMenu="matMenu">
                <ng-container *ngFor="let locale of locales; index as i">
                    <button  (click)="onChangeLanguage(i)" mat-menu-item>
                        <div>
                            <strong *ngIf="i === languageIndex">{{'Menu.' +  locale.lang | translate}}</strong>
                            <span *ngIf="i !== languageIndex">{{'Menu.' +  locale.lang | translate}}</span>
                        </div>
                    </button>
                </ng-container>
            </mat-menu>
        </div>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer id="footer">
    <div id="footer-center">
        <button (click)="onScrollToTop()" *ngIf="windowScrolled">
            {{'Footer.backToTop' | translate}}
        </button>
        <div>
            <p>{{'Footer.copyrightText' | translate}} <br> {{'Footer.Version' | translate}}: {{version}}. {{'Footer.connectedClientsCount1' | translate}}
                {{connectedClientsCount}} {{'Footer.connectedClientsCount2' | translate}} </p>
        </div>
    </div>
    <div id="footer-right">
        <div>{{'Footer.visitorsCountText' | translate}}</div>
        <div>{{ visitorsCount }}</div>
    </div>
</footer>
