$color-lightgrey: #d4d4d4;
$color-menu-hover: #a7a7a7;
$color-menu-text: #444444;

#header-bar {
    height: max-content;
    background-color: $color-lightgrey;
    color: $color-menu-text;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    #pzsphoto-logo {
        margin: auto;
    }
    #full-menu {
        width: 40vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        .menu-item {
            button {
                padding: 0.5rem;
                align-content: left;
                font-size: 1rem;
            }
        }
        .menu-item:hover {
            button:hover {
                background-color: $color-menu-hover;
                cursor: pointer;
            }
        }
    }
    #mobile-menu {
        flex-direction: column;
        justify-content: center;
        display: none;
        margin-right: 1rem;
    }

    #mobile-menu:hover {
        background-color: $color-menu-hover;
        cursor: pointer;
    }
}

footer {
    box-sizing: border-box;
    width: 100%;
    background-color: $color-lightgrey;
    position: fixed;
    bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: $color-lightgrey;
    margin-top: 0.2rem;
    align-items: center;
    #footer-center {
        margin: 0 auto;
        color: $color-menu-text;
        button {
            background-color: white;
            padding: 0.5rem;
            margin: 0.4rem auto;
            display: block;
            box-shadow: 3px 3px 4px $color-menu-hover;
            font-size: inherit;
            // position: relative;
        }

        button:hover {
            background-color: $color-menu-hover;
            cursor: pointer;
        }
    }
    #footer-right {
        padding-right: 1rem;
    }

    #footer-right div {
        text-align: center;
        font-weight: bold;
        color: $color-menu-text;
    }
}

@media (max-width: 75rem) {
    #header-bar {
        padding: 0rem;
        #pzsphoto-logo img {
            transform: scale(0.7, 0.7);
        }
        #full-menu {
            display: none;
        }
        #mobile-menu {
            display: flex;
            flex-direction: column;
        }
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    #footer-center {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
