<header>
    <mat-toolbar id="header-bar">
        <div id="pzsphoto-logo">
            <img src="../assets/logo/pzs photo logo.svg" alt="PZS Photo logo" height="60" routerLink="/" />
        </div>
        <p *ngIf="(userState$ | async)?.username">
            Welcome, {{(userState$ | async)!.username}}!
        </p>
        <div id="full-menu">
            <ng-container *ngFor="let item of menuItems">
                <div class="menu-item" *ngIf="item.cond$ | async">
                    <button mat-button (click)="handleMenuItemClick(item.action, item.route)">{{item.name}}</button>
                    <mat-divider vertical="true"></mat-divider>
                </div>
            </ng-container>
        </div>
        <div id="mobile-menu">
            <button mat-icon-button [matMenuTriggerFor]="mobilemenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #mobilemenu="matMenu">
                <ng-container *ngFor="let item of menuItems">
                    <button *ngIf="item.cond$ | async" mat-menu-item
                        (click)="handleMenuItemClick(item.action, item.route)">{{item.name}}</button>
                </ng-container>
            </mat-menu>
        </div>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer id="footer">
    <div id="footer-center">
        <button (click)="onScrollToTop()" *ngIf="windowScrolled">
            Back to top
        </button>
        <div>
            <p>(c) Copyright 2023 Peltan Zsolt. Photos by Peltan Zsolt <br> Version: {{version}}. Currently there are
                {{connectedClientsCount}} user(s) viewing this site. </p>
        </div>
    </div>
    <div id="footer-right">
        <div>Total number of visitors:</div>
        <div>{{ visitorsCount }}</div>
    </div>
</footer>
