<div class="file-upload">
    <form [formGroup]="formGroup">
        <h1>LOG IN</h1>
        <mat-form-field appearance="standard">
            <mat-label>User name</mat-label>
            <input matInput maxlength="50" inputmode="full-width-latin" placeholder="User name or email address"
                formControlName="username">
            <mat-error>Username is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Password:</mat-label>
            <input matInput maxlenght="30" minlength="3" placeholder="Input password"
                formControlName="password" type="password">
            <mat-error>Password is required</mat-error>
        </mat-form-field>

        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"
                (click)="onLogin()">Submit</button>
        </div>

    </form>
</div>
