$color-backgroundgrey: rgb(230, 230, 230);
$color-lightgrey: #d4d4d4;
$color-menu-hover: #a7a7a7;
$color-menu-text: #444444;

.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 1.5rem 1rem;
    margin: 0 auto;
    padding: 1rem;
    place-items: center;
    padding-bottom: 10rem;
    li {
        list-style: none;
        background-color: white;
        border-radius: 5px;
        width: 100%;
        p {
            margin: 0.2rem 1rem;
            padding: 0;
            height: 1rem;
            color: $color-menu-text;
        }
        .img-attributes {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
            }
            .left-column {
                margin-top: 0.3rem;
                p {
                    text-align: left;
                }
            }
            .right-column {
                margin-top: 0.3rem;
                p {
                    text-align: right;
                }
                app-rating {
                    margin: 0.2rem 1rem;
                    padding: 0;
                    height: 1rem;
                    width: 7rem;
                    text-align: right;
                }
            }
        }
    }
}

@media (max-width: 130rem) {
    .gallery-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 102rem) {
    .gallery-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 68rem) {
    .gallery-list {
        grid-template-columns: 1fr;
    }
}
